body {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.dashboard-section {
    display: grid;
    grid-template-columns: 250px auto;
    max-width: calc(1400px + 14%);
    margin-right: auto;
    margin-left: auto;
}

.dashboard-section__main {
    position: relative;
    background: #F5F5F5;
    width: 100%;
    
      
}



